
iEnglish2/GoogleService-Info.plist
Pods/GoogleMobileVision/TextDetector/Frameworks/TextDetector.framework/TextDetector
Pods⁩/FirebaseMLVisionTextModel⁩/Frameworks⁩/FirebaseMLVisionTextModel.framework⁩
